@page
@model PortfolioSite.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="container" style="margin-top:100px">
    <div class="col-12 y-center">
        <h4 class="text-center my-auto mx-auto jaappoki-font">
            <strong>Jacek Jendrzejewski</strong><br>
            Poland, Katowice<br>
            +48 698 490 301<br>
            Social e-mail: <a href="mailto:ovrael@gmail.com">ovrael@gmail.com</a><br>
            Private e-mail: <a href="mailto:jacekjendrzejewski@gmail.com">jacekjendrzejewski@gmail.com</a>
        </h4>
    </div>
    <div class="col-12 y-center top-gap">
        <h3 class="text-center my-auto mx-auto jaappoki-font">
            Social media
        </h3>
    </div>
    <div class="col-12 y-center top-small-gap">
        <div class="col-2 col-md-1 offset-md-4 offset-2">
            <a class="btn btn-sm d-flex justify-content-center" href="" onclick="window.open('https://www.linkedin.com/in/jacek-jendrzejewski-3984851b0/','_blank')" role="button">
                <img src="~/Images/Icons/LI.png" alt="LinkedIn profile" />
            </a>
        </div>
        <div class="col-2 col-md-1">
            <a class="btn btn-sm d-flex justify-content-center" href="" onclick="window.open('https://github.com/ovrael','_blank')" role="button">
                <img src="~/Images/Icons/GH.png" alt="GitHub profile" />
            </a>
        </div>
        <div class="col-2 col-md-1">
            <a class="btn btn-sm d-flex justify-content-center" href="" onclick="window.open('https://www.facebook.com/ovrael','_blank')" role="button">
                <img src="~/Images/Icons/FB.png" alt="Facebook profile" />
            </a>
        </div>
        <div class="col-2 col-md-1">
            <a class="btn btn-sm d-flex justify-content-center" href="" onclick="window.open('https://www.youtube.com/channel/UCj8v_5Ox7-KI5v_2PtMgQSw/','_blank')" role="button">
                <img src="~/Images/Icons/YT.png" alt="YouTube channel" />
            </a>
        </div>
    </div>
</div>