@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row margin-right-left-0">
        <!-- ABOUTME TILE -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-12 padding-all-15 glass-window top-small-gap">
            <div class="row">
                <div class="col-12 col-sm-3 col-md-3 col-lg-12">
                    <img src="~/Images/Other/MeOnev3.jpg" alt="TEST" class="img-fluid rounded-circle" />
                </div>
                <div class="col-12 col-sm-9 col-md-9 col-lg-12 y-center">
                    <div class="row" style="margin:auto 0px;">
                        <div class="col-12 d-sm-none d-lg-flex col-md-12 col-lg-12 " style="height:25px">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 y-center">
                            <p class="text-center roboto-thin-font">
                                <strong>Hi! Welcome on my site!</strong> <br />
                                On this page you can see the most important information. <br />
                                But use navigate bar to see more!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROJECTS AND YT -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-12 d-none d-lg-block top-small-gap lp15-rp0">
            <!-- PROJECTS TILE -->
            <div class="col-12 padding-all-15 glass-window">
                <div class="row">
                    <div class="col-12">
                        <h3 class="jaappoki-font">
                            Projects
                        </h3>
                    </div>

                    <div class="col-md-4 col-12 ">
                        <div class="row project">
                            <div class="col-12" style="height:30%">
                                <h4 class="jaappoki-font">
                                    Finished
                                </h4>
                            </div>
                            <div class="col-12" style="height:40%">
                                <p class="roboto-thin-font">
                                    I am not focused on them but if it's needed I will bugfix.
                                </p>
                            </div>
                            <div class="col-12 project-button">
                                <a class="btn btn-dark float-right roboto-button-font" href="Projects/#DoneProjects" role="button">Check them!</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 ">
                        <div class="row project">
                            <div class="col-12" style="height:30%">
                                <h4 class="jaappoki-font">
                                    Currently
                                </h4>
                            </div>
                            <div class="col-12" style="height:40%">
                                <p class="roboto-thin-font">
                                    I am presently working on them.
                                </p>
                            </div>
                            <div class="col-12 project-button">
                                <a class="btn btn-dark float-right roboto-button-font" href="Projects/#WIPProjects" role="button">See what I'm doing!</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="row project">
                            <div class="col-12" style="height:30%">
                                <h4 class="jaappoki-font">
                                    Future
                                </h4>
                            </div>
                            <div class="col-12" style="height:40%">
                                <p class="roboto-thin-font">
                                    Those are projects I would like to create.
                                </p>
                            </div>
                            <div class="col-12 project-button">
                                <a class="btn btn-dark float-right roboto-button-font" href="Projects/#FutureProjects" role="button" style="margin-top:0px;">Wait for them!</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- YOUTUBE TILE -->
            <div class="col-12 top-small-gap glass-window">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 y-center">
                        <h2 class="text-center mx-auto jaappoki-font">
                            Check my latest video!
                        </h2>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-none d-md-flex padding-right-left-0">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" style="border-radius:0px 10px 10px 0px" src="https://www.youtube-nocookie.com/embed/MHhdeUPdQII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-md-none d-flex padding-right-left-0">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" style="border-radius:0px 0px 10px 10px" src="https://www.youtube-nocookie.com/embed/MHhdeUPdQII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ??? GAME TILE ??? -->
        </div>

        <!-- PROJECTS AND YT -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-12 d-lg-none d-block top-small-gap padding-right-left-0">
            <!-- PROJECTS TILE -->
            <div class="col-12 padding-all-15 glass-window">
                <div class="row">
                    <div class="col-12">
                        <h3 class="jaappoki-font">
                            Projects
                        </h3>
                    </div>

                    <div class="col-md-4 col-12 ">
                        <div class="row project">
                            <div class="col-12" style="height:30%">
                                <h4 class="jaappoki-font">
                                    Finished
                                </h4>
                            </div>
                            <div class="col-12" style="height:40%">
                                <p class="roboto-thin-font">
                                    I am not focused on them but if it's needed I will bugfix.
                                </p>
                            </div>
                            <div class="col-12 project-button">
                                <a class="btn btn-dark float-right roboto-button-font" href="Projects/#DoneProjects" role="button">Check them!</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 ">
                        <div class="row project">
                            <div class="col-12" style="height:30%">
                                <h4 class="jaappoki-font">
                                    Currently
                                </h4>
                            </div>
                            <div class="col-12" style="height:40%">
                                <p class="roboto-thin-font">
                                    I am presently working on them.
                                </p>
                            </div>
                            <div class="col-12 project-button">
                                <a class="btn btn-dark float-right roboto-button-font" href="Projects/#WIPProjects" role="button">See what I'm doing!</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="row project">
                            <div class="col-12" style="height:30%">
                                <h4 class="jaappoki-font">
                                    Future
                                </h4>
                            </div>
                            <div class="col-12" style="height:40%">
                                <p class="roboto-thin-font">
                                    Those are projects I would like to create.
                                </p>
                            </div>
                            <div class="col-12 project-button">
                                <a class="btn btn-dark float-right roboto-button-font" href="Projects/#FutureProjects" role="button" style="margin-top:0px;">Wait for them!</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- YOUTUBE TILE -->
            <div class="col-12 top-small-gap glass-window">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 y-center">
                        <h2 class="text-center mx-auto jaappoki-font">
                            Check my latest video!
                        </h2>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-none d-md-flex padding-right-left-0">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" style="border-radius:0px 10px 10px 0px" src="https://www.youtube-nocookie.com/embed/MHhdeUPdQII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-md-none d-flex padding-right-left-0">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" style="border-radius:0px 0px 10px 10px" src="https://www.youtube-nocookie.com/embed/MHhdeUPdQII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ??? GAME TILE ??? -->
        </div>

    </div>
</div>