@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center my-auto mx-auto jaappoki-font">@ViewData["Title"]</h1>

<div class="container" style="margin-top:100px">
    <div class="col-12 y-center">
        <h4 class="text-center my-auto mx-auto jaappoki-font">
            Just do not use things that I created :) <br />
            But if u want... <a href="Contact/">Contact me!</a><br>
            Then we can talk about your project, your idea where you want to use it.
        </h4>
    </div>
</div>
